 
.seller-dashboard-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.text-end {
  text-align: end;
}

.btn {
  cursor: pointer;
}

.btn-outline-dark {
  color: #343a40;
  border-color: #343a40;
}

.btn-outline-dark:hover {
  background-color: #343a40;
  color: white;
}

.btn-outline-warning {
  color: #ffc107;
  border-color: #ffc107;
}

.btn-outline-warning:hover {
  background-color: #ffc107;
  color: white;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th, .table td {
  border: 1px solid #dee2e6;
  padding: 8px;
  text-align: center;
}

.table th {
  background-color: #f8f9fa;
}

.form-control {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.form-control::placeholder {
  color: #ccc;
}

.form-control:focus {
  border-color: #007bff;
  outline: 0;
  box-shadow: none;
}
