   
/* .new-collections {
    padding: 20px;
  }
  
   
  .item {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 15px;
    text-align: center;
  }
  
  .item img {
    max-width: 100%;
  }
  
  .item-details {
    margin-top: 10px;
  }  
  */
 /* Item.css */
 
  .item {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease-in-out;  
}
  
  .item:hover {
    transform: scale(1.05); 
  }
  
  .item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;  
  }
  .item-details {
    margin-top: 10px;
  }
  
  .item-details h3 {
    font-size: 1.2em; 
    margin-bottom: 5px;
  }
  
  .item-details p {
    margin: 5px 0;
    font-size: 0.9em; 
  }  
  
  
  